{% load static %}
<script src="{% static 'script.js'%}"></script>
<a href="{% url 'book-detail' book_id=book.id %}">{{ book.title }}</a><br>
{{ book.text }}<br>
<i>{{ book.author }}</i><br>
{{ book.date_publish|date:"m-Y" }}<br>
<i>Rate: {{ book.avg_rate }} </i>
{% for i in '12345' %}
    <a href="{% url 'book-rate' book_id=book.id rate=i redirect_url=redirect_url %}">{{ i }}</a>
{% endfor %}

<br>
    {% for comment in book.comments.all %}
        <p>{{ comment.text }}</p>
        <p>Date: {{ comment.date_publish }}</p>
        <p>Author: {{ comment.user.username }}</p>

            <p class="comment-like" id="comment_like_{{ comment.id }}">Likes: {{ comment.count_likes }}</p>

    {% endfor %}
<br>