{% extends 'sales_manager/main.html' %}
{% block title %}
    Book Detail
{% endblock %}
{% block content %}
    <div class="container">
        {% include 'sales_manager/book_view.html' with book=book %}
        <form action="{% url "add-comment" book_id=book.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="comment">Comment:</label>
                <textarea class="form-control" rows="2" id="comment" required name="text"></textarea>
            </div>
            <input type="submit" class="btn btn-success" value="OK">
        </form>
    </div>
{% endblock %}